<h1>Games</h1>

<a href="/games/form">Add a new Game</a>

{{#each games}}
<li>
    <a href="/games/show/{{this.id}}">{{this.title}}</a>
    <a href="/games/edit?id={{this.id}}">Edit</a>
</li>
{{/each}}